* {
  font-family: Centaur Crisp;
  font-size: 13pt;
}
.col-md-3 img {
  width: 220px;
  height: 210px;
  margin: 10px 0px 10px 5px;
}
.col-md-3 li a {
  color: #790000;
  text-decoration: none;
}
.col-md-3 h3 a {
  color: #000000;
  text-decoration: none;
}
.logo{ margin-top: 10px; }
.logo-left{
  font-size: 14pt;
  text-align: center;
}
.logo-left span{ font-size: 11pt; }
.logo-right {
  font-size: 14pt;
  line-height: 80px;
  vertical-align: middle;
  text-align: center;
}
.nav li { width: 12.5%; }
.dropdown-menu li { width: 100%; }
.icon { height: 30px; }
.bs-docs-header .icon { height: 20px; }
.menu-title { font-size: 14pt; }
#sidebar ul {
  list-style-type: none;
  padding: 0px;
  margin: 5px;
}
#main-content {
  border-left: #666666 solid thin;
  padding-left: 15px
}
#main-content p { margin: 10px 0px 10px 0px; }
.image_credit {
  color: #666666;
  font-size: 10pt;
  padding-top: 10px;
}

/* CSS Loading GIf for events page */

.cssload-container{
	display: block;
	margin:49px auto;
	width:97px;
}

.cssload-loading i{
	width: 19px;
	height: 19px;
	display: inline-block;
	border-radius: 50%;
	background: rgb(108,12,10);
}
.cssload-loading i:first-child{
	opacity: 0;
	animation:cssload-loading-ani2 0.58s linear infinite;
		-o-animation:cssload-loading-ani2 0.58s linear infinite;
		-ms-animation:cssload-loading-ani2 0.58s linear infinite;
		-webkit-animation:cssload-loading-ani2 0.58s linear infinite;
		-moz-animation:cssload-loading-ani2 0.58s linear infinite;
	transform:translate(-19px);
		-o-transform:translate(-19px);
		-ms-transform:translate(-19px);
		-webkit-transform:translate(-19px);
		-moz-transform:translate(-19px);
}
.cssload-loading i:nth-child(2),
.cssload-loading i:nth-child(3){
	animation:cssload-loading-ani3 0.58s linear infinite;
		-o-animation:cssload-loading-ani3 0.58s linear infinite;
		-ms-animation:cssload-loading-ani3 0.58s linear infinite;
		-webkit-animation:cssload-loading-ani3 0.58s linear infinite;
		-moz-animation:cssload-loading-ani3 0.58s linear infinite;
}
.cssload-loading i:last-child{
	animation:cssload-loading-ani1 0.58s linear infinite;
		-o-animation:cssload-loading-ani1 0.58s linear infinite;
		-ms-animation:cssload-loading-ani1 0.58s linear infinite;
		-webkit-animation:cssload-loading-ani1 0.58s linear infinite;
		-moz-animation:cssload-loading-ani1 0.58s linear infinite;
}

@keyframes cssload-loading-ani1{100%{transform:translate(39px);opacity:0}}@-o-keyframes cssload-loading-ani1{100%{-o-transform:translate(39px);opacity:0}}@-ms-keyframes cssload-loading-ani1{100%{-ms-transform:translate(39px);opacity:0}}@-webkit-keyframes cssload-loading-ani1{100%{-webkit-transform:translate(39px);opacity:0}}@-moz-keyframes cssload-loading-ani1{100%{-moz-transform:translate(39px);opacity:0}}@keyframes cssload-loading-ani2{100%{transform:translate(19px);opacity:1}}@-o-keyframes cssload-loading-ani2{100%{-o-transform:translate(19px);opacity:1}}@-ms-keyframes cssload-loading-ani2{100%{-ms-transform:translate(19px);opacity:1}}@-webkit-keyframes cssload-loading-ani2{100%{-webkit-transform:translate(19px);opacity:1}}@-moz-keyframes cssload-loading-ani2{100%{-moz-transform:translate(19px);opacity:1}}
